<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>SOS Mulheres</h1>
    <p>
      Projeto Amazonas Segundo dados do Fórum Brasileiro de Segurança Pública,
      cerca de 17 milhões de mulheres sofreram algum tipo de violência física,
      psicológica ou sexual em 2020. Com a pandemia de Covid-19, os casos
      aumentaram e aparecem dados cada vez mais alarmantes: a grande maioria dos
      casos de violência acontecem dentro de casa, sendo os agressores pessoas
      próximas à vítima na maior parte dos casos. Ainda com os altos números de
      casos, muitos não são resgistrados pois as vítimas tem medo de denunciar
      seus agressores por sofrerem ameaças, estarem dependentes financeiramente
      e emocionalmente do agressor ou ainda desconhecerem seus direitos e
      mecanismos para buscar ajuda. Diante desse problema, achamos fundamental
      prover informação e suporte para que as mulheres vítimas de violência
      sejam amparadas e atendidas. Aqui você vai encontrar informações sobre
      onde e como pedir ajuda. Não se cale. Denuncie e peça ajuda. Quem Somos O
      Projeto Amazonas é uma organização sem fins lucrativos que visa dar
      suporte às mulheres vítimas de violência doméstica e que por algum motivo
      não conseguem denunciar seus agressores. Mediamos o contato entre as
      vítimas e instituições de apoio além de prestar informações sobre direitos
      da vítima em questões familiares, jurídicas, psicológicas e financeiras.
    </p>
  </body>
</html>
